@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-size: 14px;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

code {
    font-family: 'Courier New', Courier, monospace;
}

a {
    text-decoration: none;
    color: #222;
    font-weight: 500;
}

li {
    list-style-image: url("./icons/cross.svg");
    font-size: 14px;
}

strong {
    font-weight: 600;
}

body {
    width: 1000px;
    margin: 0 auto;
    margin-top: 25px;
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(2, auto);
    grid-auto-flow: column;
}

h2 {
    font-size: x-large;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 2px solid rgb(29, 29, 29);
    font-weight: 600;
}

h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 0;
    margin: 0;
    padding-left: 16px;
}

p {
    margin-top: 0;
    margin-bottom: 5px;
}

.projects {
    grid-row: span 2;
}

.stack {
    min-width: 260px;
}

.horizontal-container {
    display: flex;
    justify-content: space-between;
}

.profile-picture {
    width: 170px;
    border-radius: 12px;
}

.block {
    margin-right: 20px;
}

.splitter {
    margin: 10px 0;
    border-top: 1px dashed rgb(29, 29, 29);
}

.tags {
    margin-top: 4px;
    display: flex;
    gap: 4px;
    flex-wrap: wrap;
}

.tags .tag {
    font-size: 12px;
    padding: 2px 6px;
    background-color: #bdebff;
    border-radius: 8px;
    height: 100%;
}
